@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

@import url('../fonts/ProximaNova-Black.otf');

@font-face {
font-family: 'ProximaNovaBlack';
src: url("../fonts/ProximaNova-Black.otf") format("opentype");
}

@import url('../fonts/ProximaNova-Bold.otf');

@font-face {
font-family: 'ProximaNovaBold';
src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
}

@import url('../fonts/ProximaNova-BoldIt.otf');

@font-face {
font-family: 'ProximaNovaBoldIt';
src: url("../fonts/ProximaNova-BoldIt.otf") format("opentype");
}

@import url('../fonts/ProximaNovaCond-Light.otf');

@font-face {
font-family: 'ProximaNovaCondLight';
src: url("../fonts/ProximaNovaCond-Light.otf") format("opentype");
}

@import url('../fonts/ProximaNovaCond-LightIt.otf');

@font-face {
font-family: 'ProximaNovaCondLightIt';
src: url("../fonts/ProximaNovaCond-LightIt.otf") format("opentype");
}

@import url('../fonts/ProximaNovaCond-Regular.otf');

@font-face {
font-family: 'ProximaNovaCondRegular';
src: url("../fonts/ProximaNovaCond-Regular.otf") format("opentype");
}

@import url('../fonts/ProximaNovaCond-RegularIt.otf');

@font-face {
font-family: 'ProximaNovaCondRegularIt';
src: url("../fonts/ProximaNovaCond-RegularIt.otf") format("opentype");
}

@import url('../fonts/ProximaNovaCond-Semibold.otf');

@font-face {
font-family: 'ProximaNovaCondSemibold';
src: url("../fonts/ProximaNovaCond-Semibold.otf") format("opentype");
}

@import url('../fonts/ProximaNovaCond-SemiboldIt.otf');

@font-face {
font-family: 'ProximaNovaCondSemiboldIt';
src: url("../fonts/ProximaNovaCond-SemiboldIt.otf") format("opentype");
}

@import url('../fonts/ProximaNova-Extrabold.otf');

@font-face {
font-family: 'ProximaNovaExtrabold';
src: url("../fonts/ProximaNova-Extrabold.otf") format("opentype");
}

@import url('../fonts/ProximaNova-Light.otf');

@font-face {
font-family: 'ProximaNovaLight';
src: url("../fonts/ProximaNova-Light.otf") format("opentype");
}

@import url('../fonts/ProximaNova-LightItalic.otf');

@font-face {
font-family: 'ProximaNovaLightItalic';
src: url("../fonts/ProximaNova-LightItalic.otf") format("opentype");
}

@import url('../fonts/ProximaNova-RegItalic.otf');

@font-face {
font-family: 'ProximaNovaRegItalic';
src: url("../fonts/ProximaNova-RegItalic.otf") format("opentype");
}

@import url('../fonts/ProximaNova-Regular.otf');

@font-face {
font-family: 'ProximaNovaRegular';
src: url("../fonts/ProximaNova-Regular.otf") format("opentype");
}

.container {

	padding: 0px;

}



.row {

	margin: 0px;

}



.row div {

	padding: 0px;

}

.dmu_bck{

	background-color: #cd2027;

}



.dmu_col {

	color: #cd2027;

}



::-webkit-input-placeholder {

   opacity: 1 !important;

}



:-moz-placeholder { /* Firefox 18- */

   opacity: 1 !important;  

}



::-moz-placeholder {  /* Firefox 19+ */

   opacity: 1 !important;  

}



:-ms-input-placeholder {  

   opacity: 1 !important;  

}



a:hover {

	text-decoration: none;

	outline: none;

}



a:focus {

	outline: none;

}



.border-radius {

	border-radius: 0px;

}



/*LOG IN PAGE*/



.welcome-logo {

	padding: 0 0 10px 0;

}



.welcome-logo img {

	max-width: 100%;

}



.login-title {

	border-top: 1px solid #cd2027;

}



.login-title h3 {

	font-family: 'ProximaNovaExtrabold', 'Montserrat';

	color: #2a2a2a;

	margin-bottom: 0px;

	font-size: 28px;

}



.login-title p {

	margin-top: 0px;

	font-family: 'ProximaNovaRegItalic', 'Montserrat';

	font-style: italic;

}



#form {

	padding: 0px 10px;

	margin-top: 30px;

}





#form .form-group {

	border: 1px solid #cd2027;

	padding: 15px 15px 15px 50px;

	border-radius: 40px;

	overflow-x: hidden;

}



.username-div {

	background: url('../images/user_logo.png') no-repeat top left;

	background-size: 20px 23px;

	background-position: 20px 20px;

}



.password-div {

	background: url('../images/pass_logo.png') no-repeat top left;

	background-size: 20px 23px;

	background-position: 20px 20px;

}



#form input {

	color: #2a2a2a;

	border: 0px;

	box-shadow: none;

	font-size: 16px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.welcome-button {

	width: 100%;

	padding: 15px;

	border-radius: 40px;

	font-family: 'ProximaNovaBold', 'Montserrat';

	border: 0px;

	color: #e5e7e9;

	font-size: 20px;

}



.welcome-button:hover {

	background-color: #a90108;

	color: #e5e7e9;

	font-size: 20px;

}



.forgotpass {

	color: #151515;

	text-decoration: underline;

	font-style: italic;

	font-family: 'ProximaNovaCondSemiboldIt', 'Montserrat';

	margin-top: 20px;

	display: block;

}

/*LOG IN PAGE*/



/*LOGIN PROJECT*/

.welcome-project {

	padding-left: 8px;

	border: 0px;

	box-shadow: none;

	width: calc(100% + 2em);

}



.project-div {

	background: url('../images/rectangle.png') no-repeat top left;

	background-size: 21px 13px;

	background-position: 20px 25px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.project-div select {

	font-size: 16px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.site-div {

	background: url('../images/site.png') no-repeat top left;

	background-size: 27px 27px;

	background-position: 20px 20px;

	font-size: 16px;

	text-align: left;

	padding: 21px 21px 21px 63px !important;

	cursor: pointer;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.form-control:focus {

	outline: none;

	border: 0px;

	box-shadow: none;

}

/*LOGIN PROJECT*/



/*PROJECT PHASE*/

.backbutton {

	margin: 30px 0px 0px 20px;

}



.optionsbutton {

	margin: 25px 20px 0px 0px;

}



.logo2 {

	margin-top: 10px;

}



.logo2 img {

	padding-left: 30px;

}



.menu {

	padding: 0px 20px !important;

}



.menu h3 {

	font-family: 'ProximaNovaExtrabold', 'Montserrat';

	color: #2a2a2a;

	font-weight: bold;

	margin-bottom: 0px;

	font-size: 28px;

	color: white;

}



.menu p {

	margin-top: 0px;

	font-family: 'ProximaNovaCondSemibold', 'Montserrat';

	margin-bottom: 20px;

	color: white;

}



.select-site {

	padding: 10px 20px !important;

	

	margin: 25px 0px 25px 0px;

	cursor: pointer;

	background: url('../images/rectangle1.png') no-repeat;

	background-color: white;

	background-size: 13px 8px;

	background-position: 95% 50%;

	font-family: 'ProximaNovaCondSemibold', 'Montserrat';

}



.post-dist {

	overflow: hidden;

	border: 1px solid #a4a4a4;

	font-family: 'ProximaNova', 'Montserrat';

	font-size: 12px;

	background: url('../images/rectangle2.png') no-repeat;

	background-color: white;

	background-size: 13px 8px;

	background-position: 95% 50%;

}



.post-dist select {

	width: 120%;

	border: 0px;

	box-shadow: none;

	padding: 10px 20px 10px 10px !important;

	font-family: 'ProximaNovaBold', 'Montserrat';

	background-color: transparent;

	font-size: 14px;

	font-weight: bold;

}



.new-beneficiary {

	font-family: 'ProximaNovaRegular', 'Montserrat';

	font-size: 12px;

	padding: 12px 0px 13px 0px !important;

	cursor: pointer;

	background-color: #07b307;

	color: white;

	text-align: center;

	border-radius: 20px;

}



.all-beneficiary {

	font-family: 'ProximaNovaRegular', 'Montserrat';

	font-size: 12px;

	padding: 12px 0px 13px 0px !important;

	cursor: pointer;

	background-color: #323030;

	color: white;

	text-align: center;

	border-radius: 20px;

}



.scan-barcode {

	font-family: 'ProximaNovaRegular', 'Montserrat';

	font-size: 12px;

	padding: 12px 0px 13px 0px !important;

	cursor: pointer;

	background-color: #2086cd;

	color: white;

	text-align: center;

	border-radius: 20px;

}



.spec-line {

	top: 5px;

	right: 0px;

	height: 30px;

	border-right: 1px solid #cd2027;

}



.bck_pic {

	position: absolute;

	width: 100%;

	min-height: 670px;

	background: url('../images/logo_bck.png') center center no-repeat;

	background-position: 50% 100px;

	background-size: 80% auto;	

	opacity: 0.1;

	max-width: 670px;



}







.phases div:nth-child(even) {

	float: right;

}



.phase {

	border: 1px solid #b4b6b8;

	min-height: 50px;

	width: 48%;

	margin-bottom: 10px;

	

}



.phase h4 {

	font-family: 'ProximaNovaBold', 'Montserrat';

	font-size: 16px;

	padding: 15px;

	margin: 0px;

	background-color: #323030;

	color: white;

	font-weight: bold;

	cursor: pointer;

}



.minus {

	height: 47px;

	width: 47px;

	position: absolute;

	top: 0px;

	right: 0px;

	background: url('../images/line.png') center center no-repeat;

	background-size: 20px 4px;

	background-color: #0a0909;

	cursor: pointer;

}



.phase-info {

	background-color: #f5f5f5;

}



.phase-info h3 {

	padding: 20px 0px 0px 20px;

	font-family: 'ProximaNovaExtrabold', 'Montserrat';

	color: #323030;

	font-weight: bold;

	margin: 0px;

}



.phase-info .progress-p {

	font-family: 'ProximaNovaCondSemibold', 'Montserrat';

	margin: 0px;

	padding: 0 20px 20px 20px;

	color: #323030;

}



.phase-info hr {

	margin: 0px;

	border-top: 1px solid #323030;

	margin: 0 20px;

}



.phase-info .completed {

	margin: 0px;

	padding: 20px 20px 0px 20px;

	color: #07b307;
	font-family: 'ProximaNovaCondSemibold', 'Montserrat';

}



.phase-info .pending {

	margin: 0px;

	padding: 0px 20px 20px 20px;

	color: #cd2027;
	font-family: 'ProximaNovaCondSemibold', 'Montserrat';

}

.button-phase {

	float: none !important;

	background-color: #cd2027

}

.button-phase h5 {

	margin: 0;

	font-size: 26px;

	font-family: 'ProximaNovaBold', 'Montserrat';

	color: #e5e7e9;

	padding: 20px 0px;

}

.disable {

	pointer-events: none;

}

.disable h4 {

	font-size: 16px;

	padding: 15px;

	margin: 0px;

	background-color: #736f6f;

	color: #888484;

	font-weight: bold;

}



.disable .minus {

	height: 47px;

	width: 47px;

	position: absolute;

	top: 0px;

	right: 0px;

	background: url('../images/line.png') center center no-repeat;

	background-size: 20px 4px;

	background-color: #524e4e;

}





.disable .phase-info h3 {

	padding: 20px 0px 0px 20px;

	color: #888484;

	margin: 0px;

}



.disable .phase-info .progress-p {

	margin: 0px;

	padding: 0 20px 20px 20px;

	color: #736f6f;

}



.disable .phase-info hr {

	margin: 0px;

	border-top: 1px solid #323030;

	margin: 0 20px;

}



.disable .phase-info .completed {

	margin: 0px;

	padding: 20px 20px 0px 20px;

	color: #736f6f;

}



.disable .phase-info .pending {

	margin: 0px;

	padding: 0px 20px 20px 20px;

	color: #736f6f;

}

.disable .button-phase {

	float: none !important;

	background-color: #666666;

}

.disable .button-phase h5 {

	margin: 0;

	font-size: 26px;

	font-family: 'ProximaNovaBold', 'Montserrat';

	color: #e5e7e9;

	padding: 20px 0px;

}

/*PROJECT PHASE*/



/*FORMS*/



.span_plus {

	float: right;

	width: 35px;

	height: 35px;

	background: url('../images/plus.png') center center no-repeat;

	background-size: 18px 18px;

	background-color: #80161a;

	vertical-align: top;

	margin-right: -10px;

	margin-top: -10px;

}



.span_minus {

	float: right;

	width: 35px;

	height: 35px;

	background: url('../images/minus.png') center center no-repeat;

	background-size: 18px 18px;

	background-color: #80161a;

	vertical-align: top;

	margin-right: -10px;

	margin-top: -10px;

}



.panel {

	box-shadow: none;

}



.panel-title {

	padding: 10px;

	border-radius: 0px;

	font-weight: bold;

	font-family: 'ProximaNovaBold', 'Montserrat';

	cursor: pointer;

	text-transform: uppercase;
	font-size: 14px;

}



.panel-group .panel {

	border-radius: 0px;

	border: 0px;

}



.panel-default>.panel-heading {

	border: 0px;

	background-color: #cd2027;

	color: white;

	border-radius: 0px;

	font-weight: bold;

}



.panel-title .pending-span {

	font-weight: normal;

	font-style: italic;

	text-transform: none;

}

@media screen and (max-width: 540px) {
.panel-title { font-size: 10px; }
.span_minus, .span_plus { height: 31px; width: 31px;}
}


.select-div{

	overflow: hidden;

	display: block;

	border: 1px solid #a4a4a4;

	background: url('../images/rectangle2.png') no-repeat;

	background-color: white;

	background-size: 13px 8px;

	background-position: 98% 50%;

	margin: 10px 0px;

}



.interview select {

	margin: 0px;

	width: 110%;

	border: 0px;

	box-shadow: none;

	background: transparent;

	padding: 10px 5px;
	min-height: 42px;

	font-family: 'ProximaNovaRegular', 'Montserrat';
}



.interview input {

	margin: 10px 0px;

	width: 100%;

	border: 1px solid #a4a4a4;

	box-shadow: none;

	background: transparent;

	padding: 10px 10px;

	display: block;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.specinp {

	background: url('../images/rectangle2.png') no-repeat !important;

	background-color: white !important;

	background-size: 13px 8px !important;

	background-position: 98% 50% !important;

}



.spec-info-div {

	margin: 0px -20px 10px -20px !important;

	min-height: 10px;

	background-color: #f0f0f0;

	padding: 10px 20px !important;

}



.spec-info-div h6 {

	color: #cd2027 !important;

	margin: 0px;

	font-family: 'ProximaNovaExtrabold', 'Montserrat';


}



.spec-info-div p {

	margin: 0px;

	color: black;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.interview h6 {

	font-weight: bold;

	color: black;

	font-family: 'ProximaNovaExtrabold', 'Montserrat';


}



.interview .btn {

	background: transparent;

	border-radius: 0px;

	padding: 10px 0px;

	border: 1px solid #929292;

	width: 70px;

	margin-right: 20px;

	color: black;

	font-family: 'ProximaNovaRegular', 'Montserrat';


}



.interview .btn:hover {

	background: transparent;

	background-color: lightgrey;

	border-radius: 0px;

	padding: 10px 0px;

	border: 1px solid #929292;

	width: 70px;

	margin-right: 20px;

}



.general-info select {

	margin: 0px;

	width: 110%;

	border: 0px;

	box-shadow: none;

	background: transparent;

	padding: 10px 5px;
	min-height: 42px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.general-info input {

	margin: 10px 0px;

	border: 1px solid #a4a4a4;

	box-shadow: none;

	background: transparent;

	padding: 10px 10px;

	display: block;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.general100 {

	width: 100%;

}



.general95 {

	width: 95%;

}

.general-info span {

	font-size: 10px;

	vertical-align: bottom;

	color: #cd2027;

	font-family: 'ProximaNovaBold', 'Montserrat';


}

.specinp {

	background: url('../images/rectangle2.png') no-repeat !important;

	background-color: white !important;

	background-size: 13px 8px !important;

	background-position: 98% 50% !important;

}



.arabicinput {

	font-family: 'droidarabickufi', 'Montserrat' !important;

}



.demog select {

	margin: 0px;

	width: 110%;

	border: 0px;

	box-shadow: none;

	background: transparent;

	padding: 10px 5px;
	min-height: 42px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.demog input {

	margin: 10px 0px;

	border: 1px solid #a4a4a4;

	box-shadow: none;

	background: transparent;

	padding: 10px 30px 10px 10px;

	display: block;

	font-family: 'ProximaNovaRegular', 'Montserrat';


}



.demog p {

	color: black;

	margin: 0px;

	font-size: 12px;

	font-family: 'ProximaNovaBold', 'Montserrat';

	padding-top: 5px;

}



.demog h5 {

	margin: 0px;

	font-family: 'ProximaNovaBold', 'Montserrat';


}



.demog h6 {

	margin: 0px;

	font-weight: bold;

	font-family: 'ProximaNovaCondSemibold', 'Montserrat';


}



.demog .total {

	border: 1px solid #a4a4a4; 

	height: 44px;

	margin-top: 5px;

	padding-top: 8px;

	text-align: center;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.three-in-row {

	width: 32%;

}



.arrival select {

	margin: 0px;

	width: 110%;

	border: 0px;

	box-shadow: none;

	background: transparent;

	padding: 10px 5px;
	min-height: 42px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.arrival input {

	margin: 10px 0px;

	border: 1px solid #a4a4a4;

	box-shadow: none;

	background: transparent;

	padding: 10px 10px;

	display: block;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}

.shelter select {

	margin: 0px;

	width: 110%;

	border: 0px;

	box-shadow: none;

	background: transparent;

	padding: 10px 5px;
	min-height: 42px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.shelter input {

	margin: 10px 0px;

	border: 1px solid #a4a4a4;

	box-shadow: none;

	background: transparent;

	padding: 10px 10px;

	display: block;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.house-assets select {

	margin: 0px;

	width: 110%;

	border: 0px;

	box-shadow: none;

	background: transparent;

	padding: 10px 5px;
	min-height: 42px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.house-assets input {

	margin: 10px 0px;

	border: 1px solid #a4a4a4;

	box-shadow: none;

	background: transparent;

	padding: 10px 10px;

	display: block;

	font-family: 'ProximaNovaRegular', 'Montserrat';


}



.house-assets .total {

	border: 1px solid #a4a4a4; 

	height: 44px;

	margin-top: 10px;

	padding-top: 8px;

	text-align: center;

	font-family: 'ProximaNovaRegular', 'Montserrat';


}



.general90 {

	width: 90%;

}



.house-assets h5 {

	margin: 10px 0px 0px 0px;

	font-weight: bold;

	font-family: 'ProximaNovaCondSemibold', 'Montserrat';


}



.income select {

	margin: 0px;

	width: 110%;

	border: 0px;

	box-shadow: none;

	background: transparent;

	padding: 10px 5px;
	min-height: 42px;
	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.income input {

	margin: 10px 0px;

	border: 1px solid #a4a4a4;

	box-shadow: none;

	background: transparent;

	padding: 10px 10px;

	display: block;

	font-family: 'ProximaNovaRegular', 'Montserrat';


}



.income h5 {

	font-weight: bold;

	margin: 15px 0 0 0;

	font-family: 'ProximaNovaCond-Semibold', 'Montserrat';


}



.food select {

	margin: 0px;

	width: 110%;

	border: 0px;

	box-shadow: none;

	background: transparent;

	padding: 10px 5px;
	min-height: 42px;

	font-family: 'ProximaNovaRegular', 'Montserrat';

}



.food input {

	margin: 10px 0px;

	border: 1px solid #a4a4a4;

	box-shadow: none;

	background: transparent;

	padding: 10px 10px;

	display: block;

	font-family: 'ProximaNovaRegular', 'Montserrat';


}



.food h5 {

	font-weight: bold;

	margin: 15px 0 0 0;

	font-family: 'ProximaNovaCondSemibold', 'Montserrat';


}

/*FORMS*/